html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: block;
  background-color: #ffe500;
  margin: 0;
  max-width: 100%;
}

h1 {
  text-align: center;
  font-family: "Sigmar One", sans-serif;
}

h2 {
  font-family: "Sigmar One", sans-serif;
}

img {
  display: block;
  margin: .3em;
  max-width: 25em;
  width: 100%;
}

body {
  font-family: "Georgia", serif;
}

footer {
  display: block;
  background-color: #ffe500;
  text-align: center;
}
