html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: block;
  background-color: #ffe500;
  margin: 0;
}

h1 h2 {
  font-family: "Sigmar One", sans-serif;
}
